{% extends "base.html" %}
{% load static %}
{% block css %}
{{block.super}}
{% endblock css %}
{% block content %}
<section class="hero-wrap js-fullheight bg3">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-3 bread">About Barkery</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section d-md-flex bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <h2>We believe that emotional, mental, and spiritual flexibility are virtuous and life-enhancing. And
                    when it comes to love, no one can love you more than your pet.</h2>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h3 class="subheading">The Team</h3>
                <h2 class="mb-1">Meet Our Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 d-flex">
                <div class="coach align-items-stretch">
                    <div class="img team1"></div>
                    <div class="text bg-white p-4 ftco-animate">
                        <span class="subheading">Web Developer</span>
                        <h3><a href="#">Dhruv Nair</a></h3>
                        <ul class="ftco-social-media d-flex mt-4">
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-instagram"></span></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex">
                <div class="coach align-items-stretch">
                    <div class="img team2"></div>
                    <div class="text bg-white p-4 ftco-animate">
                        <span class="subheading">Web Developer</span>
                        <h3><a href="#">Suvarat Trivedi</a></h3>
                        <ul class="ftco-social-media d-flex mt-4">
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-instagram"></span></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex">
                <div class="coach align-items-stretch">
                    <div class="img team3"></div>
                    <div class="text bg-white p-4 ftco-animate">
                        <span class="subheading">Web Developer</span>
                        <h3><a href="#">Aniket Raj</a></h3>
                        <ul class="ftco-social-media d-flex mt-4">
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-instagram"></span></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex">
                <div class="coach align-items-stretch">
                    <div class="img team4"></div>
                    <div class="text bg-white p-4 ftco-animate">
                        <span class="subheading">Web Developer</span>
                        <h3><a href="#">Shashwat Gupta</a></h3>
                        <ul class="ftco-social-media d-flex mt-4">
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-instagram"></span></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex">
                <div class="coach align-items-stretch">
                    <div class="img team5"></div>
                    <div class="text bg-white p-4 ftco-animate">
                        <span class="subheading">Web Developer</span>
                        <h3><a href="#">Kalyan Reddy</a></h3>
                        <ul class="ftco-social-media d-flex mt-4">
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-instagram"></span></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex">
                <div class="coach align-items-stretch">
                    <div class="img team6"></div>
                    <div class="text bg-white p-4 ftco-animate">
                        <span class="subheading">Web Developer</span>
                        <h3><a href="#">Sai Rajeshwar</a></h3>
                        <ul class="ftco-social-media d-flex mt-4">
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-instagram"></span></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter ftco-bg-dark img bg4" id="section-counter"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="5000">0</strong>
                                <span>Happily Adopted</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="4560">0</strong>
                                <span>Strays Helped</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="570">0</strong>
                                <span>Shelters Registered</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="900">0</strong>
                                <span>Registered Vets</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h3 class="subheading">Testimony</h3>
                <h2 class="mb-1">Happy Adoption Stories</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="text">
                                <div class="line pl-5">
                                    <p class="mb-4 pb-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
                                        voluptas porro alias sunt molestias consequuntur hic dicta vitae fugiat illo.
                                    </p>
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="user-img p1">
                                    </div>
                                    <div class="ml-4">
                                        <p class="name">Gabby Smith</p>
                                        <span class="position">Delhi</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="text">
                                <div class="line pl-5">
                                    <p class="mb-4 pb-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
                                        voluptas porro alias sunt molestias consequuntur hic dicta vitae fugiat illo.
                                    </p>
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div class="user-img p2">
                                    </div>
                                    <div class="ml-4">
                                        <p class="name">Floyd Weather</p>
                                        <span class="position">Bangalore</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="text">
                                <div class="line pl-5">
                                    <p class="mb-4 pb-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
                                        voluptas porro alias sunt molestias consequuntur hic dicta vitae fugiat illo.
                                    </p>
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div class="user-img p3">
                                    </div>
                                    <div class="ml-4">
                                        <p class="name">James Dee</p>
                                        <span class="position">Hyderabad</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="text">
                                <div class="line pl-5">
                                    <p class="mb-4 pb-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
                                        voluptas porro alias sunt molestias consequuntur hic dicta vitae fugiat illo.
                                    </p>
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div class="user-img p4">
                                    </div>
                                    <div class="ml-4">
                                        <p class="name">Lance Roger</p>
                                        <span class="position">Chennai</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="text">
                                <div class="line pl-5">
                                    <p class="mb-4 pb-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
                                        voluptas porro alias sunt molestias consequuntur hic dicta vitae fugiat illo.
                                    </p>
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div class="user-img p2">
                                    </div>
                                    <div class="ml-4">
                                        <p class="name">Kenny Bufer</p>
                                        <span class="position">Ahemadabad</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-gallery ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h3 class="subheading">Gallery</h3>
                <h2 class="mb-1">Our latest adoptions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ftco-animate">
                <a href="images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center g1">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center g2">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center g3">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center g4">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}